*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: interExtraBold;
    src: url(../assets/fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: interBold;
    src: url(../assets/fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: interSemiBold;
    src: url(../assets/fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: interMedium;
    src: url(../assets/fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: interLight;
    src: url(../assets/fonts/Inter-Light.ttf);
}
/* commonly used Bootstrap style */
.container{
    max-width: 1140px !important;
}
/* commonly used style */
body{
    font-family: inter !important;
    overflow-x: hidden;
}
h1,h4{
    font-family: interMedium !important;
}
p{
    font-family: interLight;
}
a{
    color: inherit !important;
    text-decoration: none !important;
}
.themeColorbackGround{
    background-color: #5A24C7;
}
.themeColor{
    color: #5A24C7;
}
/* naviagtion */
nav{
    padding-top: 16px;
}
.logoHouse{
    width: 40px;
    height: 40px;
}
.logoText{
    margin-top: 10px;
    margin-left: 8px;
}
.navBar{
    font-size: 14px;
    color: #2C374F;
    font-family: interLight;
}
.navigaMenu{
    margin-top: 9px;
}
.contactBtn{
    background-color: #5A24C7 !important;
    border-radius: 8px !important;
}
.carousel{
    width: 90% !important;
}
/* section01 */
/* video{
    max-height: 100vh;
    width: 100%;
} */
.bannerImgMobile{
    border-radius: 50px;
    border-radius: 50px;
    width: 80%;
    position: relative;
    top: -591px;
    left: 38px;
    height: 565px;
}
.banner{
    background-image: url(../assets/banner.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 811px;
}
.bannerBack{
    background-color: #ffffff96;
}
.socialIcon{
    width: 48px;
    height: 96px;
    background-color: #0E0066;
    border-radius: 0px 6px 6px 0px;
    position: fixed;
    top: 300px;
    left: 0px;
    padding: 4px 8px;
    border: 1px solid #ffffff;
    z-index: 99;
}
.socialIcon a{
    width: 32px;
    margin-top: 8px;
    height: 32px;
    display: inline-block;
}
.bannerContet{
    padding-top: 106px;
    /* padding-top: 66px; */
}
.bannerContet h1{
    padding-top: 30px !important;
    font-size: 45px !important;
    font-weight: 600;
    font-family: interMedium;
    line-height: 1.4 !important;
    color: #141967;
}
.bannerContet p{
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
    padding-top: 11px;
    font-family: interLight;
    color: #272727;
}
.bannerBottom{
    height: 125px;
    background-color: #DCDFFF;
}
.googlePlay{
    border-image: 0px;
    outline: 0px !important;
}
.googlePlay:focus{
    outline: 0px !important;
}

/* bemygues60Sec */
.bemyguest60Sec{
    height: 600px;
    padding: 100px 50px 50px 50px;
}
.guestTtl{
    /* margin-bottom: 112px; */
    font-size: 2.5rem;
    font-family: 'interBold' !important;
}
.guestCntnt{
    font-size: 23px;
    line-height: 32px;
    font-weight: 400;
    padding-right: 40px;
    letter-spacing: 0.6px;
}
.learnMore{
    font-size: 1rem;
    color: #5A24C7 !important;
}
.learnMore img{
    margin-left: 1rem;
}
iframe.bMyGuestIntroVideo html body video{
    object-fit: cover;
    width:100%;
    height:100%;
    top: 100% !important;
    left: 50% !important;
    /* transform: translate(-50%, -50%); */
}
/* about */
#about {
    background-color: #DCDFFF80;
}
.aboutT{
    font-family: interBold !important;
    font-size: 36px !important;
}
.aboutTtl{
    font-weight: 300px;
    font-size: 1.2rem;
    line-height: 24px;
    max-width: 916px;
    color: #272727;

}
.cardAbout{
    width: 31% !important;
    max-width: 340px !important;
}
h4.cardAbout-title{
    font-family: interSemiBold !important;
}
.cardAbout img{
    max-width: 350px !important;
    border-radius: 20px;
    box-shadow: -2px 8px 15px 0px #a5a5a5;
}
.cardAbout-text{
    font-size: 15px;
}
.card img{
    height: 495px;
}
.workBox{
    width: 100% !important;
    max-width: 1415px !important;
    margin: 0 auto;
}
.workBackround{
    position: absolute;
    bottom: 270px;
    left: 0px;
}
.workTtl{
    max-width: 847px;
}
.redemPoint{
    width: 200px;
    height: 45px;
    background-color: #7346F11A;
    padding-top: 8px;
    border-radius: 26px;
    font-size: 19px;
    font-family: inter;
    color: #5A24C7;
    margin-right: -20px;
}
.howItWorksImg{
    margin-left: 10%;
}
.workCardBoder{
    margin-top: 235px;
    width: 220px !important;
    height: 220px;
    border-radius: 50%;
    border: 2px dashed #0E0066;
    padding: 8px 0px !important;
    display: flex;
    justify-content: center;
    position: relative;
}
.workCardBoder::before{
    content: "";
    width: 105px;
    height: 10px;
    background-color: hsl(260, 69%, 46%,20%);
    position: absolute;
    top: 110px;
    right: -105px;
}
.workCardBoder::after{
    content: "";
    width: 10px;
    height: 496px;
    background-color: hsl(260, 69%, 46%, 20%);
    position: absolute;
    top: -133px;
    right: -104px;
}
.workCard{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0E0066;
}
.workCard h4{
    text-align: center;
}
.workCard p{
    width: 190px;
    margin: 0 auto;
    font-size: 13px;
}
.workCardlight{
    width: 195px;
    height: 195px;
    background-color: #5A24C7;
    border: 5px solid #DED3F4;
    position: relative;
}
.workCardlight::before{
    content: "";
    width: 81px;
    height: 10px;
    background-color: hsl(260, 69%, 46%, 20%);
    position: absolute;
    top: 99px;
    left: -85px;
}
.workCardlight::after{
    content: "";
    width: 223px;
    height: 10px;
    background-color: hsl(260, 69%, 46%, 20%);
    position: absolute;
    top: 98px;
    right: -227px;
}
.workCardBoder2 .workCard::before{
    content: "";
    width: 10px;
    height: 133px;
    background-color: hsl(260, 69%, 46%, 20%);
    position: absolute;
    top: -135px;
    left: 100px;

}
.workCardBoder2 .workCard::after{
    content: "";
    width: 10px;
    height: 143px;
    background-color: hsl(260, 69%, 46%, 20%);
    position: absolute;
    bottom: -145px;
    left: 100px;

}
.workCardlight2{
    width: 195px;
    height: 195px;
    background-color: #7B50D2;
    border: 5px solid #DED3F4;
    position: relative;
}
.workCardlight2::before{
    content: "";
    width: 81px;
    height: 10px;
    background-color: hsl(260, 69%, 46%, 20%);
    position: absolute;
    top: 99px;
    left: -85px;
}
.missionBox{
    position: relative;
}
.ourMissionTtl{
    background-color: #DCDFFF80;
}
.missionBoxBtn{
    position: relative;
    top: -200px;
}
.missionBoxBtn .googlePlay{
    width: 240px !important;
}
.faqContainer{
    position: relative;
    top: -1.5rem;
}
.faqContainer h1{
    font-family: 'interBold' !important;
}
.faqBtn{
    min-width: 110px;
    width: auto;
    border-radius: 8px;
    padding: 6px 16px;
    font-size: 0.9rem !important;
}
.faqBtnActive{
    background-color: #7346F117 !important;
    color: #7346F1 !important;
}
.faqBtn img{
    margin-right: 10px;
}
.buttonRow{
    justify-content: space-between;
}
.faqAccordian .accordion-button{
    font-size: 1.2rem !important;
    color: #1E1E1E;
}
.faqAccordian .accordion-button:not(.collapsed){
    /* font-size: 1.2rem !important; */
    color: #1E1E1E !important;
    background-color: transparent !important;
    box-shadow: none;
}
.faqAccordian .accordion-body{
    color: #626263;
}
.accordion-button::after{
    background-image: url(../assets/addBtn.png) !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../assets/removeBtn.png) !important;
    /* transform: rotate(0deg) !important; */
}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}
.conatctBox{
    background: rgb(31,31,32);
    background: linear-gradient(180deg, rgba(31,31,32,1) 0%, rgba(14,0,102,1) 100%);
    height: 1060px;
    padding: 60px 0px;
    margin-top: -60px;
}
.contactForm{
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 200px !important;
    max-width: 110% !important;
    width: 108% !important;
    margin-left: -4%;
}
.contactForm h1{
    font-size: 36px;
    color: #5A24C7;
    font-family: interBold !important;
}
.contactForm .sahreData{
    font-size: 14px;
    color: #626263;
    font-family: interLight !important;
    font-weight: 100;
}
.formInput {
    /* width: 48% !important; */
    width: 373px !important;
}
.formInput input.form-control{
    border: 1px solid #D8DADC;
    border-radius: 10px;
    padding: 18px, 16px, 18px, 16px !important;
    height: 56px;
}
.formInput input.form-control::placeholder, textarea::placeholder{
    color: #D8DADC;
}
.formInput label.form-label{
    font-size: 14px;
}
span.redDot{
    color: red;
}
.contactForm textarea{
    border: 1px solid #D8DADC;
    border-radius: 10px;
    padding: 18px, 16px, 18px, 16px !important;
    height: 89px;
}
.contactForm textarea::placeholder{
    color: #D8DADC;;

}
.sendBtn{
    max-width: 150px !important;
    height: 48px !important;
}
.contactFormSocial{
    height: 258px;
    width: 258px !important;
    background-color: #7346f13b;
    display: flex;
    justify-content: center;
}
.contactFormSocial img{
    margin: 81px 0px;
}
.contactIcon{
    padding: 0 130px;
}
.getStartedCntnt{
    max-width: 435px;
}
footer{
    background-color: #0E0066;
    min-height: 364px;
    padding: 80px 0px 20px;
    position: relative;
}
.footerLogo{
    width: 314px !important;
    height: 112px;
}
.contactBtnFooter{
    border-radius: 8px !important;
    width: 216px;
    margin-top: 2rem;
}
.footerCompany{
    width: 130px !important;
}
.footerCompany ul{
    font-size: 18px;
}
.footerCompany li{
    font-size: 14px;
    margin-bottom: 11px;
}
.copyRight{
    position: relative;
    bottom: -90px;
}

#generalFaq,#hostingFaq{
    display: none;
}
#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    color: #141967;
    border: 2px solid #141967;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
}
@media (max-width: 1200px) {
    .redemPoint {
        width: 180px;
        height: 35px;
        background-color: #7346F11A;
        padding-top: 6px;
        border-radius: 26px;
        font-size: 16px;
        font-family: inter;
        color: #5A24C7;
        margin-right: -30px;
    }
    /* .banner,.bannerBottom{
        width: 103%;
    } */
    .contactForm{
        max-width: 100% !important;
        width: 98% !important;
        margin-left: 0%;
        padding: 20px 100px !important;
    }
    .conatctBox{
        height: auto;
    }
    .missionBoxBtn{
        top: -130px;
    }
    .missionBoxBtn .googlePlay {
        width: 200px !important;
        margin-left: 70px;
    }
    .contactFormSocial {
        height: 200px;
        width: 200px !important;
    }
    .contactFormSocial img {
        margin: 50px 0px;
    }
}
@media (max-width: 800px) {
    .navBarBox{
        position: relative;
    }
    .navbar{
        background-color: #5A24C7;
        position: fixed;
        top: 0px;
    }
    .socialIcon {
        background-color: #0E0066;
    }
    /* section 01 */
    .bannerContet h1{
        font-size: 36px !important;
    }
    .bannerContet p{
        font-size: 18px;
    }
    .carousel{
        width: 100% !important;
        margin: 0 auto;
        top: 100px;
    }
    .socialIcon{
        position: fixed;
    }
    /* section 01 */
    .missionBoxBtn {
        top: 0px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    /* section contact */
    .contactForm{
        max-width: 100% !important;
        width: 98% !important;
    }
    .conatctBox{
        height: auto;
    }
    .formInput {
        width: 100% !important;
    }
    .contactFormSocial {
        height: 100px;
        width: 100px !important;
    }
    .contactIcon {
        padding: 0 130px;
    }
    .contactFormSocial img {
        margin: 20px 0px;
    }
    /* section contact */


}
@media (max-width: 765px) {
    .navbar-toggler{
        position: absolute;
        left: 0px;
    }
    .navigaMenu{
        margin-top: 20px;
        font-size: 20px;
    }
    .navbar-collapse{
        position: absolute;
        left: 0px;
        top: 50px;
        background: #5A24C7;
        z-index: 999;
        width: 100%;
        height: 90vh;
    }
    .navbar-brand{
        width: 170px;
        margin-right: 2rem;
    }
    /* section 01 */
    .banner {
        height: 500px;
        margin-top: 50px;
    }
    .bannerContet {
        padding-top: 56px;
    }
    .bannerContet h1{
        text-align: center;
        color: #141967;
        font-size: 32px !important;
    }
    .bannerContet p{
        font-size: 18px;
        text-align: center;

    }
    .carousel{
        width: 24% !important;
        margin: 0 auto;
        top: -10px;
    }
    .socialIcon{
        position: fixed;
        z-index: 99;
        border: 1px solid #fff;
        border-left-width: 0px;
    }
    .bannerTextMobile{
        padding-top: 60px;
    }
    .bannerTextMobile p{
        font-family: interLight;
        color: #626263;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 1px;
    }
    .contactBtn {
        width: 150px;
        height: 44px;
        margin-bottom: 1rem;
    }
    .bannerBottom {
        height: 133px;
        background-color: #DCDFFF80;
    }
    .googlePlay {
        border-image: 0px;
        outline: 0px !important;
        width: 160px;
        border-radius: 8px !important;
        overflow: hidden;
        height: 46px;
        margin-top: 2.5rem;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0px !important;
    }
    /* section 01 */
    /* section 02 */
    .bemyguest60Sec {
        height: auto;
        padding: 0px;
        flex-wrap: wrap-reverse !important;
    }
    .bemyguest60Sec {
        height: auto;
        padding: 0px;
        flex-wrap: wrap-reverse !important;
    }
    .guestCntnt {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        padding-right: 0px;
        letter-spacing: 1px;
        text-align: center;
    }
    .guestTtl {
        font-size: 26px;
        margin-bottom: 1rem;
    }
    .guestTtl.aboutT {
        margin-bottom: 0rem;
    }
    /* section 02 */
    /* section 03 */
    #about{
        background-color: #DCDFFF80;
    }
    .aboutT {
        font-size: 26px !important;
        padding-top: 30px;
    }
    .aboutTtl {
        font-size: 14px; 
        line-height: 21px;
        letter-spacing: 1px;
    }
    .cardAbout {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0   ;
    }
    .cardAbout img {
        max-width: 100% !important;
        width: 80%;
        margin-left: 10%;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px #a5a5a5;
        margin-bottom: 1rem;
    }
    h4.cardAbout-title{
        color: #000;
    }
    .cardAbout-title{
        color: #626263;
        font-weight: 700;
    }
    .cardAbout-text{
        font-family: interLight;
        color: #1E1E1E;
        letter-spacing: 1px;
        font-size: 14px;
        padding: 10px;
        padding-bottom: 1.5rem;
    }
    /* section 03 */
    .ourMissionMobileImg{
        width: 80%;
        margin-left: 10%;
        border-radius: 8px;
    }
    .missionBoxBtn {
        top: 0px;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .missionBoxBtn .googlePlay {
        width: 150px !important;
        margin-left: 0px;
    }
    .faqAccordian .accordion-button {
        font-size: 1rem !important;
        padding: 0.25rem 0.5rem;
        position: relative;
        padding-left: 34px;
    }
    .accordion-button::after{
        position: absolute;
        left: 0px;
    }
    /* section FAQ */
    .faqContainer{
        top: 0rem;
    }
    .faqBtn{
        min-width: 100px;
        border-radius: 6px;
        padding: 4px 12px;
        font-size: 0.75rem !important;
    }
    .buttonRow{
        justify-content: flex-start;
    }
    .accordion-header {
        margin-bottom: 16px !important;
    }
    .faqAccordian .accordion-body {
        color: #626263;
        font-size: 12px;
        padding: 0rem 0rem 0.5rem 2.2rem !important;
    }
    /* section FAQ */
    /* section contact */
    .contactForm h1 {
        font-size: 26px;
        color: #ffffff;
    }
    .contactForm .sahreData {
        color: #DED3F4;
    }
    .formInput input.form-control{
        height: 46px;
    }
    .contactForm{
        max-width: 100% !important;
        width: 98% !important;
        padding: 10px 0px !important;
        background-color: transparent;
    }
    .conatctBox{
        height: auto;
        padding: 10px 0px;
    }
    .formInput {
        width: 100% !important;
    }
    .formInput label.form-label,.form-label {
        color: #fff !important;
    }
    .contactIcon {
        padding: 0 50px;
    }
    .contactFormSocial {
        height: 50px;
        width: 50px !important;
    }
    .contactFormSocial img {
        margin: 0px;
    }
    footer{
        margin-top: -10px !important;
        height: 65vh;
    }
    .footerCompany {
        width: 50% !important;
        padding-top: 20px;
    }
    .footerCompany ul {
        font-size: 18px;
        padding-left: 20px;
    }
    /* section contact */
}
@media (max-width: 650px) {
    .carousel{
        width: 28% !important;
    }
}
@media (max-width: 600px) {
    .carousel{
        width: 31% !important;
    }
}

@media (max-width: 550px) {
    .carousel{
        width: 48% !important;
        margin: 0 auto;
        top: 20px;
    }
}
@media (max-width: 500px) {
    .banner {
        background-image: url(../assets/bannerMobile.png);
    }
    .bannerContet {
        padding-top: 6px;
    }
    .contactFormSocial{
        background-color: transparent;
    }
    .bannerTextMobile p{
        padding-top: 70px;
    }
    .footerCompany {
        width: 33% !important;
        padding-top: 20px;
    }
    .footerCompany ul{
        font-size: 14px;
        padding-left: 20px;
    }
    .footerCompany li {
        font-size: 12px;
        margin-bottom: 11px;
    }
    .footerLogo {
        width: 100% !important;
        justify-content: center;
    }
    .contactBtnFooterMobile{
        display: flex;
        justify-content: center;
    }
    video{
        border: 1px solid #eaeaea;
    }
}
@media (max-width: 480px) {
    .carousel{
        width: 50% !important;
        margin: 0 auto;
        top: 20px;
    }
}
@media (max-width: 400px) {
    .faqBtn {
        min-width: 10px;
        width: 80px;
    }

    .bannerTextMobile p {
        padding-top: 40px;
    }
}